<!--
  Generated template for the DettaglioMeteoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Meteo by {{username}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Situazione meteo di {{city}}</h2>
  <p *ngIf="error !== null"> {{error}}</p>
  <!-- <ul *ngIf="meteo !== null">
    <li>Situazione: {{meteo.weather[0].main}}</li>
    <li>Descrizione: {{meteo.weather[0].description}}</li>
    <li>Temperatura: {{meteo.main.temp}}</li>
  </ul> -->

  <!-- <ion-list *ngIf="meteo !== null">
    <ion-item>
      <ion-icon name="leaf" item-start></ion-icon>
      Situazione: {{meteo.weather[0].main}}
    </ion-item>
    <ion-item>
      <ion-icon name="leaf" item-start></ion-icon>
      Descrizione: {{meteo.weather[0].description}}
    </ion-item>
    <ion-item>
      <ion-icon name="leaf" item-start></ion-icon>
      Temperatura: {{meteo.main.temp}}
    </ion-item>
  </ion-list> -->
  <!--  -->
  <ion-list *ngIf="meteoMappata !== null">
    <ion-item>
      <ion-icon name="cloud" item-start></ion-icon>
      Situazione: {{meteoMappata.main}}
    </ion-item>
    <ion-item>
      <ion-icon name="information-circle" item-start></ion-icon>
      Descrizione: {{meteoMappata.desc}}
    </ion-item>
  </ion-list>


</ion-content>