<ion-header>
  <ion-navbar>
    <ion-title>
      Meteo by {{username}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Inserire il nome della città di cui si vuole visualizzare il meteo.</h2>
  <ion-list>
    <ion-item>
      <ion-label floating>Nome città:</ion-label>
      <ion-input name="city" [(ngModel)]="city" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <button ion-button (click) = "onMostraMeteo()">Carica meteo</button>
    </ion-item>
  </ion-list>
  <!--  -->
  <h2>Star Wars - personaggi</h2>
  <button ion-button [disabled]="!people || !people.previous" (click)="onPreviousPage()">PREVIOUS</button>
  <button ion-button [disabled]="!people || !people.next" (click)="onNextPage()">NEXT</button>
  <ion-list *ngIf="people !== null">
    <ion-item *ngFor="let p of people.results">
      {{ p.name }}
    </ion-item>
  </ion-list>
</ion-content>